openvino==2024.6.0
openvino-dev[onnx,omz]==2024.6.0
torch==2.8.0
timm==0.9.16
ultralytics==8.3.174
nncf[torch]==2.6.0
tensorflow-cpu==2.15.0
tensorflow_datasets==4.9.2
safetensors==0.4.3
rich==13.7.1
