openvino==2025.4.0
ultralytics==8.3.203
numpy==1.26.4
nncf==2.14.0
rich==14.1.0
timm==1.0.20
opencv-python-headless==4.11.0.86
transformers==4.53.3
pillow==12.1.1
openvino-tokenizers==2025.4.0.0
openvino-genai==2025.4.0.0
optimum-intel==1.26.1
